.goods__inner {
  width: 100%;
}

.goods-title {
  width: 100%;
  font-size: 36px;
  margin: 12px 0;
}

.goods-content {
  display: flex;
  width: 100%;
}

.goods-filter {
  width: 30%;
  background: #ffffff;
  padding: 24px;
}

.goods-items {
  width: calc(70% - 24px);
  margin-left: 24px;
  background: #ffffff;
  padding: 24px
}

.goods-items-inner {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.goods-filter-i {
  transition: 0.3s all ease-in-out;
}

.goods-filter-i-tilte {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.goods-filter-i-arrow {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.goods-filter-i-arrow-active {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.goods-filter-i-price {
  width: 100%;
  display: flex;
  align-items: center
}

.goods-filter-i-price>input {
  width: calc(50% - 18px);
  padding: 12px 12px;
  border: 1px solid #7f7f7f;
  border-radius: 100px;
  text-align: center;
  outline: none;
  font-size: 16px;
}

.goods-filter-i-price>span {
  width: 12px;
  margin: 0 12px
}

.goods-filter-i-content {
  margin-bottom: 24px;
  padding: 12px 0;
}

.goods-items-pag {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #000;
}

.goods-items-pag>span {
  padding: 12px 48px;
  margin: 0 12px;
  border-radius: 100px;
  background: #81BF3A;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.goods-items-pag>span:hover {
  opacity: 0.7;
}

.goods-items-pag>span:focus {
  opacity: 0.9;
}