.footer {
  margin-top: 40px;
  width: 100%;
  background: #17181A;
  padding: 40px 0;
}

.footer-inner {
  display: flex;
  padding: 24px 0;
}

.footer-i {
  width: 25%;
}

.footer-title {
  font-size: 24px;
  color: #7f7f7f;
}

.footer-links>a {
  color: #f0f0f0;
  padding: 12px 0;
}

.footer-links>a:hover {
  color: #81BF3A;
}

.footer-links {
  display: flex;
  flex-flow: column nowrap;
}

.footer-about {
  color: #f0f0f0;
  padding: 12px 0;
}

.footer-contacts {
  color: #f0f0f0
}

.footer-contact {
  padding: 12px 0;
  font-size: 24px;
  color: #81BF3A;
}