.cart-inner {
  width: 600px;
  height: 700px;
}

.cart-items {
  height: 350px;
  overflow: scroll;
}

.cart-i {
  width: 100%;
  padding: 12px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #7f7f7f
}

.cart-count {
  padding: 8px;
  width: 20%;
}

.cart-name {
  padding: 8px;
  width: 60%;
}

.cart-price {
  padding: 8px;
  width: 20%;
}