.main-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-i {
  width: 31%;
  margin-bottom: 16px;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.main-i:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-i-img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.main-i-title {
  padding: 12px 24px;
  font-size: 24px;
  font-weight: bold;
}

.main-i-text {
  padding: 12px 24px;
}