.header {
  width: 100%;
  margin-bottom: 24px;
  background: #f0f0f0;
}

.header__inner {
  width: 100%;
}

.header-top {
  width: 100%;
  height: 112px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 12%;
  padding-bottom: 6px;
}

.header-address {
  width: 24%;
  text-align: center;
  font-size: 14px;
}

.header-search {
  width: 32%;
  display: flex;
}

.header-search-input {
  height: 52px;
  width: calc(100% - 52px);
  padding: 12px 24px;
  outline: none;
  font-size: 16px;
  border: 1px solid #7F7F7F;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: none;
  background: #f0f0f0;
}

.header-search-input::placeholder {
  color: #949494;
  font-size: 16px;
  font-family: 'Gilroy';
}

.header-search-icon {
  height: 52px;
  width: 52px;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #7F7F7F;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: none;
  background: #f0f0f0;
  cursor: pointer;
}

.header-profile {
  display: flex;
  width: 32%;
}

.header-profile-main {
  display: flex;
  width: 50%;
  align-items: center;
}

.header-profile-auth {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header-profile-auth>span {
  cursor: pointer;
  font-size: 15px;
}

.header-profile-auth>span:hover {
  color: #FF4D4D
}

.header-profile-i {
  width: calc(33.33333% - 16px);
  margin: 0 8px;
  padding: 12px;
  cursor: pointer;
}

.header-profile-div {
  width: 1px;
  height: 100%;
  background: #e2e2e2;
}

.header-profile-cart {
  width: 40%;
  display: flex;
  align-items: center;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}

.header-profile-cart:hover .header-profile-cart-title {
  color: #FF4D4D
}

.header-profile-cart-icon {
  width: 40%;
  margin: 0 8px;
  padding: 4px;
}

.header-profile-cart-text {
  width: 60%;
}

.header-profile-cart-title {
  font-size: 13px;
  color: #7F7F7F;
}

.header-profile-cart-value {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-bottom {
  width: 100%;
  height: 72px;
  background: #505358;
  display: flex;
  align-items: center;
  color: #f0f0f0;
  font-size: 14px;
}

.header-menu {
  width: 20%;
  height: 100%;
  background: #2E3033;
  display: flex;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.header-menu-icon {
  height: 24px;
  margin-right: 24px;
}

.header-nav {
  width: 56%;
  display: flex;
  justify-content: space-around;
}

.header-nav-i {
  text-transform: uppercase
}

.header-phone {
  width: 24%;
  text-align: center;
  color: #fff;
}

.header-phone>a {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.05em
}