.product {
  width: 100%
}

.product__inner {
  width: 100%;
}

.product-path {
  margin-bottom: 24px;
}

.product-content {
  background: #ffffff;
  padding: 40px;
}

.product-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.pruduct-title-name {
  font-size: 36px;
}

.product-title-buttons {
  width: 12%;
  display: flex;
  justify-content: space-between;
}

.product-title-button {
  width: 40%;
  height: 48px;
  width: 48px;
  padding: 12px;
  border: 1px solid #7f7f7f;
  border-radius: 100px;
  transition: 0.3s all ease-in-out;
  cursor: pointer
}

.product-title-button-heart:hover {}

.product-title-button-share:hover {}

.product-info {
  display: flex;
}

.product-imgs {
  width: 30%;
}

.product-img {
  height: 340px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img>img {
  width: 100%;
}

.product-imgs-links {
  display: flex;
  justify-content: space-between
}

.product-imgs-link {
  width: 23%;
  height: 90px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #e2e2e2;
}

.product-imgs-link>img {
  width: 100%;
  height: auto;
}

.product-description {
  width: calc(40% - 48px);
  margin: 0 24px;
  font-size: 18px;
}

.product-d-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.product-d-info {
  line-height: 36px;
  margin-bottom: 24px;
}

.product-d-i {
  padding: 4px 0;
  margin: 8px 0;
}

.product-d-i>span {
  color: #7f7f7f;
}

.product-order {
  width: 30%;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.product-price-count {
  width: 40%;
  display: flex;
  border: 1px solid #7f7f7f;
  border-radius: 100px;
  padding: 0 4px;
  align-items: center;
  font-size: 20px;
  color: #7f7f7f;
}

.product-price-count-minus {
  height: 100%;
  width: 33.333%;
  padding: 12px 0;
  text-align: center;
}

.product-price-count-plus {
  height: 100%;
  width: 33.333%;
  padding: 12px 0;
  text-align: center;
}

.product-price-count-num {
  height: 100%;
  width: 33.333%;
  padding: 12px 0;
  text-align: center;
}

.product-price-count-num>input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 20px;
  text-align: center;
}

.product-price-actual {
  font-size: 36px;
  font-weight: bold;
  color: #FF4D4D;
}

.product-order-cart {
  width: 100%;
  background: #FF4D4D;
  border-radius: 100px;
  padding: 16px 4px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.roduct-order-cart-active {
  background: #81BF3A;
}

.product-order-cart:hover {
  opacity: 0.7;
}

.product-full {
  margin-top: 40px;
  background: #ffffff;
}

.product-full-menu {
  display: flex;
}

.product-full-menu-i {
  width: 25%;
  text-align: center;
  padding: 24px 0;
  font-size: 20px;
  transition: 0.3s ease-in-out;
  background: #f7f5f5;
  border-top: 3px solid #e0e0e0;
  cursor: pointer
}

.product-full-menu-i:hover {
  border-top-color: #81BF3A;
  background: #fff;
}

.product-full-menu-i-active {
  border-top-color: #81BF3A;
  background: #fff;
}

.product-full-info {
  padding: 40px;
}

.product-full-info-title {
  font-size: 32px;
  margin-bottom: 24px;
}

.product-full-info-text {
  font-size: 18px;
}

.product-offer-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-offer-title-text {
  font-size: 32px;
  color: #fff;
}

.product-offer-title-button {
  padding: 16px 40px;
  border-radius: 100px;
  border: 1px solid #fff;
  cursor: pointer;
  color: #fff
}

.product-offer-green {
  background: #81BF3A;
}