.auth {
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.auth-bg {
  position: absolute;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgb(0, 0, 0, 0.2); */
}

.auth-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 64px;
  background: #ffffff;
  width: 364px;
  min-height: 464px;
  max-height: 600px;
  z-index: 1002;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.auth-title {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px;
}

.auth-input {
  margin-bottom: 12px;
}

.auth-button {
  margin-top: 24px;
  width: 100%;
  background: #FF4D4D;
  border-radius: 100px;
  padding: 16px 4px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.auth-button:hover {
  opacity: 0.7;
}

.auth-reg-button {
  text-align: center;
  margin: 12px 0;
  padding: 8px 0;
  cursor: pointer;
  font-size: 18px;
}

.auth-reg-button:hover {
  color: #FF4D4D;
}