.main {
  width: 100%;
}

.main__inner {
  width: 100%;
}

.main-top {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
}

.main-sidebar {
  width: 20%;
  background: #fff;
}

.main-sidebar-i {
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
}

.main-slider {
  width: calc(80% - 16px);
  margin-left: 16px;
  height: 600px;
}

.main-slider-top {
  width: 100%;
  display: flex;
  height: 400px;
  margin-bottom: 16px;
}

.main-slider-inner {
  width: 100%;
  height: 100%;
}

.main-slider-content {
  width: 70%;
  height: 100%;
}

.main-slider-i {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-slider-items {
  width: 100%;
  height: 100%;
}

.main-slider-items>li, .main-slider-items>li>img {
  width: 100%;
  height: 100%;
}

.main-slider-special {
  width: calc(30% - 16px);
  margin-left: 16px;
  height: 100%;
  background: #FF0135;
  padding: 4px
}

.main-slider-special-inner {
  width: 100%;
  height: 100%;
  background: #ffffff;
  text-align: center;
}

.main-slider-special-img {
  width: 100%;
  height: 242px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-slider-special-img>img {
  max-width: 100%;
  max-height: 100%;
}

.main-slider-special-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.main-slider-special-info {
  margin-bottom: 8px;
}

.main-slider-special-sale {
  font-size: 16px;
  text-decoration: line-through;
}

.main-slider-special-price {
  font-size: 24px;
  color: #FF0135
}

.main-slider-special-sale {
  font-size: 16px;
  color: #7F7F7F
}

.main-slider-bottom {
  height: calc(200px - 16px);
  display: flex;
  background: #ffffff;
  align-items: center;
}

.main-slider-bottom-i {
  width: calc(33.333333% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.main-slider-bottom-i>img {
  width: 25%
}

.main-slider-bottom-info {
  width: 75%;
  padding-left: 24px
}

.main-slider-bottom-div {
  height: 60%;
  width: 1px;
  background: #7f7f7f;
}

.main-slider-bottom-title {
  font-size: 24px;
  font-weight: bold;
}

.main-slider-bottom-count {}

.main-list {
  width: 100%;
  background: #fff;
}

.main-list-title {
  padding: 36px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-list-title-text {
  font-size: 36px;
}

.main-list-title-text>span {
  color: #81BF3A
}

.main-list-title-more {
  padding: 16px 40px;
  border-radius: 100px;
  border: 1px solid #7f7f77;
  cursor: pointer;
}

.main-list-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.main-list-i {
  width: 25%;
}

.main-list-i-goods {
  width: 50%;
}

.main-list-i-inner {
  height: 100%;
  position: relative;
  padding: 24px 24px;
  cursor: pointer;
  background: #FFF;
  transition: 0.3s all ease-out;
}

.main-list-i-inner:hover {
  /* position: absolute; */
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* 
.main-list-i:hover .main-list-i-buy {
  display: flex;
} */

.main-list-img {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 16px;
}

.main-list-i-content {
  width: 100%;
  height: 120px;
  text-align: center;
}

.main-list-i-title {
  font-size: 16px;
  margin-bottom: 8px;
}

.main-list-i-info {
  margin-bottom: 8px;
}

.main-list-i-price-sale {
  color: #FF0135;
  margin-bottom: 8px;
  text-decoration: line-through
}

.main-list-i-price-actual {
  font-size: 24px;
}

.main-list-i-buy {
  display: flex;
  transition: 0.3s all ease-in-out;
  justify-content: space-between;
  margin-top: 16px;
}

.main-list-i-buy-count {
  width: 40%;
  display: flex;
  border: 1px solid #7f7f7f;
  border-radius: 100px;
  padding: 0 4px;
  align-items: center
}

.main-list-i-buy-count-minus {
  height: 100%;
  width: 33.333%;
  padding: 12px 0;
  text-align: center;
}

.main-list-i-buy-count-plus {
  height: 100%;
  width: 33.333%;
  padding: 12px 0;
  text-align: center;
}

.main-list-i-buy-count-num {
  height: 100%;
  width: 33.333%;
  padding: 12px 0;
  text-align: center;
}

.main-list-i-buy-button {
  width: 55%;
  padding: 12px 24px;
  background-color: #81BF3A;
  color: #fff;
  border-radius: 100px;
  text-align: center;
}

.main-list-i-buy-button-active {
  /* background-color: rgb(159, 240, 66); */
  background-color: #FF0135;
}

.main-list-i-buy-button:hover {
  opacity: 0.8;
}

.main-offer {
  width: 100%;
  background: #FF0135;
  margin: -80px 0;
  padding: 80px 0;
  z-index: -1;
}

.main-offer-inner {
  width: 100%;
  padding: 40px 0;
  display: flex;
  align-items: center;
}

.main-offer-text {
  font-size: 48px;
  color: #fff;
  margin: 32px 0;
  font-weight: bold;
}

.main-rules {
  width: 100%;
  display: flex;
  background: #ffffff;
  margin: 20px 0;
}

.main-rules-div {
  width: 1px;
  background: #e2e2e2;
}

.main-rules-i {
  width: calc(20% - 1px);
  text-align: center;
  padding: 0 20px;
  padding: 60px 0;
  background: #fff;
}

.main-rules-img {
  width: 100%;
  padding: 0 60px;
}

.main-rules-title {
  padding: 16px 0;
  font-size: 20px;
}

.main-rules-text {
  color: #7F7F7F;
  font-size: 16px;
}